<nav
  class="navbar bg-dark border-bottom border-body navbar-expand-lg"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand">EV Station</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/maps']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">About Us</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<section class="action-container">
  <div class="toggle-btn" *ngIf="!showPopup" (click)="togglePopup()">
    <span>+</span>
  </div>
  <div class="menu-container" *ngIf="showPopup">
    <button type="button" class="btn btn-info" (click)="addChargingStations()">
      Show Stations
    </button>
    <button type="button" class="btn btn-success" (click)="showPathtoStation()">
      Path to nearest station
    </button>
    <button type="button" class="btn btn-danger" (click)="togglePopup()">
      Close
    </button>
  </div>
</section>
